<section class="page">
 
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec d_block">
        <h2 class="sub_title">
          <mat-icon> insert_chart</mat-icon>
          <span class="v-align-middle">Cycle Time Chart</span>
        </h2>
        <form [formGroup]="table" >
          <div class="filter_sec"> 
            <div class="filter_field">
              <mat-form-field appearance="outline">
                <mat-select required formControlName="machine_id">
                  <mat-option *ngFor="let machine of machine_response"  [value]="machine.machine_name" (click)="getmachine(machine.machine_name,machine.id)">{{machine.machine_name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="filter_field">
              <mat-form-field appearance="outline">
                <mat-select required formControlName="shift_id">
                  <mat-option *ngFor="let shift of shift_response" [value]="shift.shift_no" (click)="getshift(shift.id,shift.shift_no)">{{shift.shift_no}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_field date_picker">  
                            
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
            </div>
            <button mat-raised-button class="filter_btn btn_orange" (click)="tableview()">
              Report</button>
          </div>
        </form>
      </div>
      <div>
        <div *ngIf="myLoader" class="spinner">
          <img src="assets/images/spinner.gif">
        </div>
        <mat-card class="example-card card_sec" *ngIf="allcycletime.length>0">
       
          <mat-card-content>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
              style="width: 100%; height: 400px; display: block;"></highcharts-chart>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="section_top_padding">
        <div *ngIf="myLoader1" class="spinner">
          <img src="assets/images/spinner.gif">
        </div>
        <div class="row_sec">
         
          <div class="col">
            <mat-card class="example-card card_sec">
              <mat-card-content>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2"
                  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
              </mat-card-content>
            </mat-card>
          </div>
       
          <div class="col">
            <mat-card class="example-card card_sec">
              <mat-card-content>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions3"
                  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
              </mat-card-content>
            </mat-card>
          </div>
       
        </div>
      </div>
      <div>
        <div *ngIf="myLoader3" class="spinner">
          <img src="assets/images/spinner.gif">
        </div>
        <mat-card class="example-card card_sec">
          <mat-card-content>
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions4"
              style="width: 100%; height: 400px; display: block;"></highcharts-chart>
          </mat-card-content>
        </mat-card>
      </div>

      <!--       
    <mat-card class="example-card card_sec">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>Hour Wise Parts Count Chart(NOS)</mat-card-title>
          <mat-card-subtitle>
            Machine Id:RIPL/VTL/BFW/EM-C44,Shift:2,Date:23/01/2020
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
    <h5>Time(hour)</h5>
    <h3> <span>Parts Count</span>
    </h3>

    <mat-card class="example-card card_sec">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>Machine Status Chart)</mat-card-title>
          <mat-card-subtitle>
            Machine Id:RIPL/VTL/BFW/EM-C44,Shift:2,Date:23/01/2020
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card-content>
    </mat-card>
    <h5>Time(min)</h5>
    <h3> <span class="run">Run</span><br>
      <span class="idle">Idle</span><br>
      <span class="stop">Stop</span><br>
      <span class="nodata">NoData</span>
    </h3> -->

    </div>
  </div>
</section>
