<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>

  <div class="section_top_padding">
    <div class="container-fluid">
 
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">touch_app</mat-icon>
          <span class="v-align-middle">Idle Reason Report</span>
        </h2>
<!-- 
        <div class="table_export">
          <a (click)="export()" class="export_btn">
                  <i class="material-icons">
                      file_copy
                  </i>
                  Export
              </a>
      </div> -->
      
      </div>

      <mat-card class="card_sec">
        <mat-card-content>
          <form [formGroup]="login">
            <div class="filter_sec mt-10">
              <div class="filter_field">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Select Machine"  matNativeControl
                    required formControlName="machine_id">
                    <mat-option *ngFor="let machine of machine_response" [value]="machine.id">
                      {{machine.machine_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="filter_field">
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Select Shift"  matNativeControl
                    required formControlName="shift_id">
                    <mat-option *ngFor="let shift of shift_response" [value]="shift.shift_no">{{shift.shift_no}}
                      ({{shift.shift_start_time}}-{{shift.shift_end_time}})</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="filter_field date_picker">
              <ejs-daterangepicker placeholder='Select a range' [max]='maxDate' [min]='minDate'
                (click)="daterangepicker.open()"  formControlName="date">
                <e-presets>
                  <e-preset label="This Week" [start]='weekStart' [end]='weekEnd'></e-preset>
                  <e-preset label="This Month" [start]='monthStart' [end]='monthEnd'></e-preset>
                  <e-preset label="Last Month" [start]='lastStart' [end]='lastEnd'></e-preset>
                  <e-preset label="Last Year" [start]='yearStart' [end]='yearEnd'></e-preset>
                </e-presets>
              </ejs-daterangepicker>
            </div> -->
              <div class="filter_field date_picker">            
              <mat-form-field appearance="fill">
              <!-- <mat-label>Date</mat-label> -->
              <input matInput [matDatepicker]="picker" placeholder="Select Date" formControlName="date" [max]='maxDate' [min]='minDate' (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

              <!-- <div class="filter_field date_picker">
                <mat-form-field>
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </div> -->
              <div class="btn_group">
                <button mat-raised-button class="filter_btn btn_success" (click)="hmiReport()">Report</button>
                <button mat-raised-button class="filter_btn btn_orange ml-16" (click)="hmiChart()"> Chart</button>
                <!-- <button class=" export_btn" (click)="export()">Export</button> -->
                

                <!-- <button type="text" class="view_btn mr-2" mat-button (click) = toggleDisplay()>View Chart</button> -->
              </div>
            </div>
          </form>
          <div class="table_export">
            <button class="export_btn" (click)="export('xlsx',{fileName:'hmiReport'})" mat-raised-button> Export</button>
            <!-- <a href="" class="export_btn">
                      <i class="material-icons">
                          file_copy
                      </i>
                      Export
                  </a> -->
          </div>
        </mat-card-content>
      </mat-card>
      <div *ngIf="reportList" class="section_top_padding">
        <mat-card class="card_sec">
          <div class="table_wrapper">
              <table class="table">
                  <thead>
                      <tr>
                          <th width="20px">S.no</th>
                          <th width="100px">Date</th>

                          <th width="100px">Shift Num</th>
                          <th width="175px">Machine Name</th>
                          <th width="200px">Operator Name</th>
                          <th width="200px">Reason</th>
                          <th width="90px">Start Time</th>
                          
                          <th width="90px">End Time</th>
                          <th  width="50px">Duration</th>
                      </tr>
                     
                  </thead>
                  <tbody *ngFor="let show_report of get_report; let i = index" >
                      <tr *ngIf="no_data?.length > 0">
                          <td>{{i+1}}</td>
                          <td>{{g_report?.date | date:'MM-dd-yyyy'}}</td>
                          <td>{{g_report?.shift_no || '---'}}</td>

                          <td>{{g_report?.machine_name || '---'}}</td>
                           <td>{{g_report?.operator_name || '---'}}</td>
                          <td>{{show_report?.idle_reason || '---'}}</td>
                          <td class="as-nowrap">{{show_report?.idle_start | date:'MM-dd-yyyy ; HH:mm:ss'}}</td>
                       
                          <td class="as-nowrap">{{show_report?.idle_end | date:'MM-dd-yyyy ; HH:mm:ss'}}</td>
                          <td>{{data[i]}}</td>
                      </tr>
                  </tbody>
              </table>
           
              <!-- <div class="duke">
                  Duration: {{get_duration}}
              </div> -->
          </div>
         
          <mat-card-content *ngIf="no_data?.length==0" class="no_data_found">
            <h2>No data found</h2>
          </mat-card-content> 
          
       
          


      

      </mat-card>
      <!-- <div *ngIf="no_data?.length==0" class="no_data_found">
        <h4>Nop Data Found</h4>
    </div> -->
      </div>
      <!-- <div >
<mat-card>
  <h2>HMI chart</h2>
  <p>Machine Name:{{charts.machine_name}},Shift:{{charts.shift}},Date:{{charts.date | date: "dd-MMM-yyyy"}}</p>
</mat-card>
</div> -->


<!-- <div class="view_graph" [hidden] = "isShow">
  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>
</div> -->

   <!-- <figure class="highcharts-figure">
                <div id="container"></div>
               </figure>  -->

               <!-- <div >
                <figure>
                    <div id="comparepie2"></div>
                </figure>
              </div> -->
      <div *ngIf="myLoader1" class="spinner">
        <img src="assets/images/spinner.gif">
      </div>
      <div *ngIf="chartlist" class="section_top_padding" >
        <mat-card class="card_sec">
          <mat-card-content class="table_responsive d-flex">
            <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
              style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->
              
              <div class="container chrt">
              <div id="comparepie2"></div>
            </div>

              <!-- <div id="container"></div> -->
<br>
          </mat-card-content>

        </mat-card>

        <mat-card class="card_sec sep_crt">
          
          <mat-card-content class="table_responsive d-flex">
              <div id="container"></div>
<br>
<!-- <h3 class="tag">Reasons</h3> -->
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</section>