<section class="page">
    <div class="section_top_padding">
        <div class="container-fluid">
            <div class="page_title_sec">
                <h2 class="sub_title">
                    <mat-icon class="v-align-middle display">laptop</mat-icon>
                    <span class="v-align-middle">Machine Status</span>
                </h2>
                <div class="table_export">
                    <a [routerLink]="['/machine_details']" class="export_btn">
                        <i class="material-icons">
                            laptop
                        </i>
                        Dashboard 
                        <!-- <h2>hj</h2> -->
                    </a>
                </div>
            </div>
            <!-- filter_sec start-->  
            <mat-card class="card_sec">
                <mat-card-content> 
                    <form [formGroup]="login" (ngSubmit)="logintest(login.value)">
                    <div class="filter_sec">
                        <div class="filter_field">
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Machine" matNativeControl required 
                                formControlName="machine" >
              
                                  <mat-option *ngFor="let machines of machine_response" [value]="machines.id" (click)="getmachine(machines.machine_name,machines.id)">
                                    {{machines.machine_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> 
                        </div>

                        <div class="filter_field">
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="shiftlist"  value="{{show_response?.shift}}"
                                    readonly>
                            </mat-form-field>
                        </div><div class="filter_field">
                <!-- <mat-form-field>
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field> -->

                <div class="filter_field">
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="date" value="{{show_response?.date}}"
                        readonly>
                    </mat-form-field>
                </div>
              </div>
                   

                    </div>
                </form>
                </mat-card-content>
            </mat-card>

            <!-- filter_sec end-->
            <div class="section_padding">
                <div class="row_sec">
                    <div class="col">
                        <mat-card class="card_sec">
                            <mat-card-content>
                                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2"
                                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                                <!-- <canvas style="min-height: 300px" baseChart [chartType]="'doughnut'"
                                    [datasets]="doughnutChartData" [labels]="doughnutChartLabels"
                                    [options]="doughnutChartOptions" [legend]="false" [colors]="doughnutChartColor">
                                </canvas> -->

                                <div class="chart_details">
                                    <p>{{hour_times?.machine_name}}</p>
                                    <p>Model:<span>{{hour_times?.machine_model}}</span></p>
                                    <p>IP:<span>{{hour_times?.machine_ip}}</span></p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                        <div class="bhoechie-tab-content active">
                            <h2>Run</h2>
                            <table class="table tbscroll">
                                <tr>
                                    <th>Time</th>
                                    <th>H:M:S</th>
                                    <th>Parts Count</th>
                                </tr>
                                <tr *ngFor="let x of hour_times?.data">
                                    <td>{{x.time}}</td>
                                    <td>{{x.run_time}}</td>
                                    <td>{{x.count}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="bhoechie-tab-content">
                            <h2>Idle</h2>
                            <table class="table tbscroll">
                                <tr>
                                    <th>Time</th>
                                    <th>H:M:S</th>
                                </tr>
                                <tr *ngFor="let x of hour_times?.data">
                                    <td>{{x.time}}</td>
                                    <td>{{x.idle_time}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="bhoechie-tab-content">
                            <h2>Stop</h2>
                            <table class="table tbscroll">
                                <tr>
                                    <th>Time</th>
                                    <th>H:M:S</th>
                                </tr>
                                <tr *ngFor="let x of hour_times?.data">
                                    <td>{{x.time}}</td>
                                    <td>{{x.stop_time}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <mat-card class="card_sec">
                            <mat-card-content>
                                <ul class="status_list">
                                    <li>Parts produced<span class="badge">{{hour_times?.shift_part_count}}</span></li>
                                    <li>Rejects<span class="badge">0</span></li>
                                    <li>Rework<span class="badge">0</span></li>
                                    <li>Inspection<span class="badge">0</span></li>
                                    <li>Remaining parts<span class="badge">0</span></li>
                                    <li>Parts delivered<span class="badge">0</span></li>
                                </ul>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="card_sec">
                            <mat-card-content>
                                <ul class="status_list">
                                    <li>Running<span class="badge">{{hour_times?.tot_run}}</span></li>
                                    <li>Idle<span class="badge">{{hour_times?.tot_idle}}</span></li>
                                    <li>Stopping<span class="badge">{{hour_times?.tot_stop}}</span></li>
                                    <li>Remaining<span class="badge">{{hour_times?.no_data}}</span></li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>