<div class="modal_sec">
    <mat-toolbar class="forum">
        <h3>Edit Operator Registaration</h3>
        <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">×</span>
        </button>
    </mat-toolbar>
    <div class="dialog-form"> 
        <div class="filter_sec">
             <form [formGroup]="login" class="form_sec">
                <mat-form-field>
                    <mat-label>Operation Name</mat-label>
                    <input matInput formControlName="operation_name" type="text">
                    <mat-error *ngIf="login.controls['operation_name'].errors?.required">Operation Name is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Operation Id</mat-label>
                    <input matInput formControlName="operation_id"  (keypress)="keyPress($event)" type="text">
                    <mat-error *ngIf="login.controls['operation_id'].errors?.required">Operation ID is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field >
                    <mat-select placeholder="Process Plan Number " matNativeControl required formControlName="process_plan_id">
                      <mat-option *ngFor="let file of listo" [value]="file.id">{{file.plan_number}}
                      </mat-option>
  
                    </mat-select>

                  </mat-form-field>
                  <div *ngIf="listo.length==0">
                    No Process Plan Number Found.Plaese fill the Process plan number on Process plan module
               </div>

                <!-- <mat-form-field> -->
                    <mat-label>Std.Cycle Time</mat-label>
                    <!-- <input matInput formControlName="std_cycle_time" type="text"> -->
                    <!-- <mat-error *ngIf="login.controls['std_cycle_time'].errors?.required">Cycle Time is Required
                    </mat-error> -->
                    <ngb-timepicker formControlName="std_cycle_time" [seconds]="seconds"></ngb-timepicker>
                <!-- </mat-form-field> -->

                <!-- <mat-form-field> -->
                    <mat-label>Std.Load/Unload Time</mat-label>
                    <ngb-timepicker formControlName="load_unload_time" [seconds]="seconds"></ngb-timepicker>
                    <!-- <input matInput formControlName="load_unload_time" type="text"> -->
                    <!-- <mat-error *ngIf="login.controls['load_unload_time'].errors?.required">Load/Unload Time is Required
                    </mat-error> -->
                <!-- </mat-form-field> -->

                <!-- <mat-form-field> -->
                    <mat-label>Std.Setup Time</mat-label>
                    <ngb-timepicker formControlName="setup_time" [seconds]="seconds"></ngb-timepicker>
                    <!-- <input matInput formControlName="setup_time" type="text"> -->
                    <!-- <mat-error *ngIf="login.controls['setup_time'].errors?.required">Setup Time is Required
                    </mat-error> -->

                    
                <mat-form-field>
                    <mat-label>Part Per Cycle</mat-label>
                    <input matInput formControlName="part_per_cycle" (keypress)="keyPress($event)" type="text">
                    <mat-error *ngIf="login.controls['part_per_cycle'].errors?.required">Operator ID is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select matNativeControl placeholder="Select Status"  formControlName="status" required>
                        <mat-option value="Select Status" disabled>Select Status</mat-option>
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">Inactive</mat-option>
                       
                    </mat-select>
                    <mat-error *ngIf="login.controls['status'].errors?.required">Status is Required
                    </mat-error>
                </mat-form-field>
                <div class="form-button text-right">
                    <button mat-raised-button [disabled]="login.invalid" (click)="editdata()" class="filter_btn btn_orange">
                        Save</button>
                    <!-- <button mat-raised-button (click)="onNoClick()" class="filter_btn btn_default ml-16">Close</button> -->
                </div>
            </form>
        </div>
    </div>
</div>