<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">laptop</mat-icon>
          <span class="v-align-middle">FilePath Registration</span>
        </h2>
        <div class="add_new">
          <mat-icon class="circle" (click)="openDialog()">add</mat-icon>
        </div>
      </div>
      <mat-card class="card_sec">
        <mat-card-content class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef = "let i=index;"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="machine_name">
              <th mat-header-cell *matHeaderCellDef> Machine Name </th>
              <td mat-cell *matCellDef="let element"> {{element.machine.machine_name || '---'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="master_location">
              <th mat-header-cell *matHeaderCellDef> Master Path </th>
              <td mat-cell *matCellDef="let element"> {{element.master_location || '---'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="slave_location">
              <th mat-header-cell *matHeaderCellDef> Slave Path </th>
              <td mat-cell *matCellDef="let element"> {{element.slave_location || '---'}} </td>
            </ng-container>


            <ng-container matColumnDef="action">
              <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->

              <th mat-header-cell *matHeaderCellDef> Action </th>
              <ul *matCellDef="let element" class="table_action">
                <li>
                  <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="filepath_edit(element,element.id)"
                    mattooltip="Edit">edit
                  </mat-icon>
                </li>
                <li>
                  <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="filepath_delete(element.id)"
                    mattooltip="Delete">delete
                  </mat-icon>
                </li>
              </ul>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
         
        </mat-card-content>
        <mat-card-content *ngIf="result.length==0" class="no_data_found">
          <h2>No data found</h2>
        </mat-card-content> 
      </mat-card>
    </div>
  </div>
</section>