.spinner {
  background: #262932;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 999;
}

.spinner img {
  width: 90px;
  margin-top: -130px;
}

// mat-card-content.table_responsive.mat-card-content {
//   white-space: nowrap;
// }



  ::ng-deep.filter_field{
      .mat-form-field-appearance-legacy {
          .mat-form-field-underline{
              height: unset !important;
          }
      }
  }
.mat-card {
  padding: 16px 16px 4px 16px;
}
  .filter_sec .filter_field.date_picker {
    width: 17%;
}
.filter_sec .filter_field.selectshift {
  width: 13%;
}


@media only screen and (min-width: 320px) and (max-width: 576px) {
  .filter_sec .filter_field.date_picker, .filter_sec .filter_field.selectshift {
    width: 100%;
}
.filter_sec {
  /* display: -webkit-box; */
  display: block;
}

}
@media only screen and (min-device-width : 768px) 
{.filter_sec .filter_field.date_picker {
  width: 30%;
}
}
@media only screen and (min-device-width : 768px)  
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
    
    .filter_sec .filter_field.date_picker {
        width: 18%;
    }
}

@media only screen and (max-width:1366px){
 
  .filter_sec .filter_field.date_picker {
      width: 14%;
  }
}
