<section class="page">
    <div class="section_top_padding">
      <div class="container-fluid">
        <div *ngIf="myLoader" class="spinner">
          <img src="assets/images/spinner.gif">
        </div>
        <div class="page_title_sec">
          <h2 class="sub_title">
            <mat-icon>history</mat-icon>
            <!-- <mat-icon> insert_chart</mat-icon> -->
          </h2>
           <!-- <div class="table_export"  *ngIf ="alarmreport">
              <a (click)="export()" class="export_btn">
                      <i class="material-icons">
                          file_copy
                      </i>
                      Export
                  </a>
          </div> -->
        </div>
        <!-- filter_sec start-->
        <mat-card class="card_sec">
          <mat-card-content>
            <div class="filter_sec mt-10">
                <form [formGroup]="login" (ngSubmit)="loginfunc()" class="filter_sec_form">
                <div class="filter_field">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Machine" matNativeControl required formControlName="machine_id">
  
                      <mat-option *ngFor="let machine of machine_response" [value]="machine.id">
                        {{machine.machine_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
              
                <div class="filter_field">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Shift" matNativeControl required formControlName="shift_id">
                      <!-- <mat-option value="all">All</mat-option> -->
                      <mat-option value="undefined">All</mat-option> 
                       <mat-option *ngFor="let shift of shift_response" [value]="shift.id">{{shift.shift_no}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> 
  
                <div class="filter_field date_picker">
                <mat-form-field appearance="fill">
                  <!-- <mat-label>From Date</mat-label> -->
                  <input matInput [matDatepicker]="picker" placeholder='From Date' formControlName="start_date" (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </div>
  
              <div class="filter_field date_picker">
                             
                <mat-form-field appearance="fill">
                    <!-- <mat-label>To Date</mat-label> -->
                    <input matInput [matDatepicker]="picker1" placeholder='To Date' formControlName="end_date" (click)="picker1.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 startView="year" [startAt]="endDate"></mat-datepicker>
                  </mat-form-field>
            </div>
  
              
                <button mat-raised-button class="filter_btn btn_success">Report</button>
                </form>
            </div>
          </mat-card-content>
        </mat-card>
  
        <!-- filter_sec end-->
        <div class="section_padding">
          <mat-card class="card_sec">
            <mat-card-content class="table_responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  
                <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
                <!-- Position Column -->

                <ng-container matColumnDef="posi">
                  <th mat-header-cell *matHeaderCellDef>S.No</th>
                  <td mat-cell *matCellDef="let i=index;"> {{i+1}} </td>
                </ng-container>


                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.date  || '---'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Machine Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.machine_name  || '---'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Shift Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.shift_no  || '---'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef>Operator Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.operator_name  || '---'}} </td>
                </ng-container>
  
  
                <ng-container matColumnDef="alarmtype">
                  <th mat-header-cell *matHeaderCellDef> Total Hours </th>
                  <td mat-cell *matCellDef="let element"> {{element.actual_working_hours  || '---'}} </td>
                </ng-container>
  
  
                <ng-container matColumnDef="alarmnumber">
                  <th mat-header-cell *matHeaderCellDef> Actual Working Hours </th>
                  <td mat-cell *matCellDef="let element"> {{element.total_time  || '---'}} </td>
                </ng-container>
  
  
             
                <ng-container matColumnDef="alarmmessage">
                  <th mat-header-cell *matHeaderCellDef> Operating Hours </th>
                  <td mat-cell *matCellDef="let element"> {{element.actual_running  || '---'}} </td>
                </ng-container>
  
              
                <ng-container matColumnDef="alarmtime">
                  <th mat-header-cell *matHeaderCellDef> Target </th>
                  <td mat-cell *matCellDef="let element"> {{element.target || '---'}} </td>
                </ng-container>
  

                <ng-container matColumnDef="produced">
                  <th mat-header-cell *matHeaderCellDef>Actual</th>
                  <td mat-cell *matCellDef="let element"> {{element.actual || '---'}} </td>
                </ng-container>
                
               
                <ng-container matColumnDef="rejecet">
                  <th mat-header-cell *matHeaderCellDef>Rejected Qty</th>
                  <td mat-cell *matCellDef="let element"> {{element.reject || '---'}} </td>
                </ng-container>

                 
                <ng-container matColumnDef="rework">
                  <th mat-header-cell *matHeaderCellDef>Rework Qty</th>
                  <td mat-cell *matCellDef="let element"> {{element.rework  || '---'}} </td>
                </ng-container>

                <ng-container matColumnDef="avail">
                  <th mat-header-cell *matHeaderCellDef>Availabilty</th>
                  <td mat-cell *matCellDef="let element"> {{element.availability || '---'}} </td>
                </ng-container>


                <ng-container matColumnDef="perfor">
                  <th mat-header-cell *matHeaderCellDef>Performance</th>
                  <td mat-cell *matCellDef="let element"> {{element.perfomance || '---'}} </td>
                </ng-container>

                <ng-container matColumnDef="quali">
                  <th mat-header-cell *matHeaderCellDef>Qulaity</th>
                  <td mat-cell *matCellDef="let element"> {{element.quality  || '---'}} </td>
                </ng-container>


                <ng-container matColumnDef="oee">
                  <th mat-header-cell *matHeaderCellDef>OEE</th>
                  <td mat-cell *matCellDef="let element"> {{element.oee || '---'}} </td>
                </ng-container>
                
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
             <!-- <mat-card-content *ngIf="alarmreport?.length==0" class="no_data_found">
              <h2>No data found</h2>
            </mat-card-content>  -->
          </mat-card>
        </div>
        
      </div>
    </div>
  </section>
  