<section class="login_page">
    <div class="login_sec">
      <mat-card class="form_inner">
        <mat-card-content>
          <!-- <div class="brand_logo">
            <img src="assets/images/logo.jpg">
          </div> -->
          <p class="mb_space">Yantra24x7 using Forgot Password</p>
          <p *ngIf="fo_fn != 'null'">Hi {{fo_fn}} {{fo_ln}}</p>
          <form [formGroup]="login" (ngSubmit)="logintest(login.value)" autocomplete="off" class="login_form">
            <mat-form-field class="form">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password" maxlength="30" [type]=" show ? 'password' : 'text'"
                required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{7,}$">
              <mat-icon class="eye" matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="login.controls['password'].errors?.required">password is Required
              </mat-error>

              <mat-error *ngIf="login.controls['password'].errors?.pattern"><b>password Should be this
                      format eg:('A','a','7','#' and password in 8 char)</b> </mat-error>
    
              </mat-form-field>
  
            <mat-form-field class="form">
              <mat-label>Conform Password</mat-label>
              <input matInput formControlName="con_password" placeholder="Confirmation Password" [type]=" hide ? 'password' : 'text'"
              required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{7,}$">
            <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="login.controls['con_password'].errors?.required">Conform password is Required
            </mat-error>

            <mat-error *ngIf="login.controls['con_password'].errors?.pattern"><b>Conform password Should be this
                    format eg:('A','a','7','#' and password in 8 char)</b> </mat-error>
  
            </mat-form-field>
            <div class="form-btn"> 
              <button mat-raised-button class="Submit" color="primary" [disabled]="login.invalid">Save</button>
            </div>
          </form>

     
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  
  