<div class="modal_sec two_form">
    <mat-toolbar>
        <h3>Machine Registration</h3>
        <button type="button" class="close" aria-label="Close" (click)="onNoClick()"> 
            <span aria-hidden="true">×</span>
        </button>
    </mat-toolbar>
    <div class="dialog-form">
        <div class="filter_sec">
            <form [formGroup]="login"  class="form_sec"> 
                <mat-form-field>
                    <mat-label>Machine Name</mat-label>
                    <input matInput formControlName="machine_type" type="text" required>
                    <mat-error *ngIf="login.controls['machine_type'].errors?.required">Machine Name is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Machine Type</mat-label>
                    <input matInput formControlName="machine_name" type="text" required>
                    <mat-error *ngIf="login.controls['machine_name'].errors?.required">Machine Type is Required
                    </mat-error>
                </mat-form-field>
               
                <mat-form-field>
                    <mat-label>Controller Model Number</mat-label>
                    <input matInput formControlName="machine_model" type="text" required>
                    <mat-error *ngIf="login.controls['machine_model'].errors?.required">Controller Model Number is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Machine Serial Number</mat-label>
                    <input matInput formControlName="machine_serial_no" type="text" required>
                    <mat-error *ngIf="login.controls['machine_serial_no'].errors?.required">Machine Serial Number is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Machine IP</mat-label>
                    <input matInput formControlName="machine_ip" type="text" required> 
                    <mat-error *ngIf="login.controls['machine_ip'].errors?.required">Machine IP is Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Device ip (Eg:GTA-Y001-0001)</mat-label>
                    <input matInput formControlName="device_id" type="text" required> 
                </mat-form-field>
                <mat-error *ngIf="login.controls['device_id'].errors?.required">Device IP is Required
                </mat-error>
                <mat-form-field>
                    <mat-select matNativeControl placeholder="Select Unit"  formControlName="unit" required>
                        <mat-option value="Select Machine Name" disabled>Select Unit</mat-option>
                        <mat-option value="Unit - 1">Unit1</mat-option>
                        <mat-option value="Unit - 2">Unit2</mat-option>
                        <mat-option value="Unit - 3">Unit3</mat-option>
                        <mat-option value="Unit - 4">Unit4</mat-option>
                        <mat-option value="Unit - 5">Unit5</mat-option> 
                    </mat-select>
                    <mat-error *ngIf="login.controls['unit'].errors?.required">Unit is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select matNativeControl placeholder="Select Machine Type"  formControlName="controller_type" required>
                        <mat-option value="Select Machine Type" disabled>Select Machine Type</mat-option>
                        <mat-option value="Ethernet">Ethernet</mat-option>
                        <mat-option value="RS232">RS232</mat-option>
                       
                    </mat-select>
                    <mat-error *ngIf="login.controls['controller_type'].errors?.required">Machine Type is Required
                    </mat-error>
                </mat-form-field>
      

                <div class="form-button text-right">
                    <button mat-raised-button (click)="loginforum()" [disabled]="login.invalid" class="filter_btn btn_orange"> Save</button>
                    <button mat-raised-button (click)="onNoClick()" (click)="cancel()" class="filter_btn btn_default ml-16">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>