.spinner {
  background: #262932;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 999;
}

.spinner img {
  width: 90px;
  margin-top: -130px;
}
.buton{
  background: #f7941e;
  color: #fff !important;


}
mat-toolbar.forum.mat-toolbar.mat-toolbar-single-row {
  background: #f7941e;
  color: white;
  justify-content: space-between;
}

.section_padding{
padding: 0px !important;
}

button.close {
background: none !important;
border: 0px !important;
color: #fff !important;
font-size: 25px !important;
}

.table_responsive.sep tr:nth-child(odd) {
background: #f4f4f4;
}
.table_action {
 
  margin-bottom: 0px;
}
// mat-card-content.table-responsive.mat-card-content {
//   height: 500px;
// }

mat-card-content.table-responsive.mat-card-content::-webkit-scrollbar {
  background: transparent !important;
  }
  
  mat-card-content.table-responsive.mat-card-content::-webkit-scrollbar-track  {
  background: transparent !important;
  }
  
  mat-card-content.table-responsive.mat-card-content::-webkit-scrollbar-thumb {
  background: transparent !important;
  }