<section class="page">
    <div *ngIf="myLoader" class="spinner">
      <img src="assets/images/spinner.gif">
    </div>
    <div class="section_top_padding">
      <div class="container-fluid">
        <div class="page_title_sec">
          <h2 class="sub_title">
            <mat-icon>person_add</mat-icon>
            <span class="v-align-middle">Operator Assign</span>
          </h2>
          <div class="add_new" >
            <mat-icon class="circle" (click)="user()">add</mat-icon>
          </div>
          <!-- <div class="add_new" *ngIf = "Role_NAME == 'Supervisor' || Role_NAME == 'Manager'">
            <mat-icon class="circle" (click)="usernot()">add</mat-icon>
          </div> -->
        </div>
        <mat-card class="card_sec">
          <mat-card-content class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  
              <!-- Position Column -->
              <ng-container matColumnDef="Position">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let i=index;"> {{i+1}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element"> {{element.date | date :'MM/dd/yyyy'}} </td>
              </ng-container>
  
              <ng-container matColumnDef="machine">
                <th mat-header-cell *matHeaderCellDef>Machine Name</th>
                <td mat-cell *matCellDef="let element"> {{element.machine || '---'}} </td>
              </ng-container>


              <!-- Weight Column -->
              <ng-container matColumnDef="shift_num">
                <th mat-header-cell *matHeaderCellDef>Shift Number</th>
                <td mat-cell *matCellDef="let element"> {{element.shifttransaction || '---'}} </td>
              </ng-container>


                <!-- Weight Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element"> {{element.description || '---'}} </td>
                </ng-container>


             <ng-container matColumnDef="created_by">
                <th mat-header-cell *matHeaderCellDef> Created By </th>
                <td mat-cell *matCellDef="let element"> {{element.created_by || '---'}} </td>
              </ng-container>
  
  
  
              <ng-container matColumnDef="action">
                <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <ul *matCellDef="let element" class="table_action">
                  <li>
                    <!-- <mat-icon mat-button aria-hidden="false" aria-label="Example home icon"
                    (click)="operator_show(element)" mattooltip="Edit" >open_in_new
                  </mat-icon> -->

                  <button mat-raised-button  (click)="operator_show(element)" class="buton">
                    View</button>
                  </li>
                  <li>
                    <mat-icon mat-button aria-hidden="false" aria-label="Example home icon"
                      (click)="operator_edit(element,element.id)" mattooltip="Edit" >edit
                    </mat-icon>
                    <!-- <mat-icon mat-button aria-hidden="false" aria-label="Example home icon"
                     mattooltip="Edit" (click)="usernot()" *ngIf = "Role_NAME == 'Supervisor' || Role_NAME == 'Manager'">edit
                  </mat-icon> -->
                  </li>
                  <li>
                    <mat-icon mat-button aria-hidden="false" aria-label="Example home icon"
                      (click)="operator_delete(element.id)" mattooltip="Delete" >delete
                    </mat-icon>
                    <!-- <mat-icon mat-button aria-hidden="false" aria-label="Example home icon"
                    (click)="usernot()" mattooltip="Delete" *ngIf = "Role_NAME == 'Supervisor' || Role_NAME == 'Manager'">delete
                  </mat-icon> -->
                  </li>
                </ul>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>

          <mat-card-content *ngIf="list?.length==0" class="no_data_found">
            <h2>No data found</h2>
          </mat-card-content> 
        </mat-card>
      </div>
    </div>
  </section>