<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec d_block">
        <h2 class="sub_title">
          <mat-icon> show_chart</mat-icon>
          <span class="v-align-middle">Cycle Start to Start</span>
        </h2>
        <form [formGroup]="login">
        <div class="filter_sec"> 
          <div class="filter_field">
            <mat-form-field appearance="outline">
              <mat-select required formControlName="machine_id">
                <mat-option *ngFor="let machine of machine_response"  [value]="machine.machine_name" (click)="getmachine(machine.machine_name,machine.id)">{{machine.machine_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filter_field">
            <!-- <mat-form-field appearance="outline">
              <mat-select placeholder="Select Shift"   matNativeControl required formControlName="shift_id">
                <mat-option *ngFor="let shift of shift_response"  [value]="shift.id">{{shift.shift_no}}({{shift.shift_start_time}}-{{shift.shift_end_time}}) </mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
              <mat-select required formControlName="shift_id">
                <mat-option *ngFor="let shift of shift_response" [value]="shift.shift_no" (click)="getshift(shift.id,shift.shift_no)">{{shift.shift_no}}({{shift.shift_start_time}}-{{shift.shift_end_time}})</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="filter_field date_picker">
                           
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>

          <button mat-raised-button class="filter_btn btn_orange" (click)="time_start_view()">
            <i class="material-icons">
              remove_red_eye
            </i>
            View</button>
        </div>
      </form>
      </div>
      <!-- 
    <div class="menu">
      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Print Chart</button>
        <button mat-menu-item>Download PNG Image</button>
        <button mat-menu-item>Download JPEG Image</button>
        <button mat-menu-item>Download PDF Document</button>
        <button mat-menu-item>Download SVG Vector Image</button>
      </mat-menu>
    </div>
    <div class="tag">
      <h3>Cycle Start to Cycle Start(Mins)</h3>
      <h5>Machine ID:RIPL/VTL/BFW/EM-C44,shift:Undefined,Date:23-01-2020</h5>
    </div> -->

    <mat-card class="example-card card_sec">
      <mat-card-content>
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</section>