<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">laptop</mat-icon>
          <span class="v-align-middle">Master</span>
        </h2>
      </div>

      <div class="filter_sec">
          <div class="filter_field"> 
            <div class="filter_field">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Select Machine"  [(ngModel)]="machine_id" (selectionChange)="getmachine($event.value)" matNativeControl required >
                  <mat-option *ngFor="let machine of machine_response" [value]="machine.id">
                      {{machine.machine_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
            </div>
          </div>
          <div class="form-button">
            <button class="subit" (click)="openDialog(machine_id)" class="upload_btn">File Upload</button>
          </div>
      </div>
      <div class="page_title_sec">
        <h2 class="sub_title">
          <span class="v-align-middle">Backup</span>
        </h2>
      </div>
      <mat-card class="card_sec example-card">
        <mat-card-content>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef = "let i=index;"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name || '---'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element"> {{element.weight || '---'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>File Size</th>
              <td mat-cell *matCellDef="let element"> {{element.symbol || '---'}} </td>
            </ng-container>


            <ng-container matColumnDef="action">
              <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <ul *matCellDef="let element" class="table_action">
                <li>
                  <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="filepath_edit()"
                    mattooltip="Delete">delete
                  </mat-icon>
                </li>
              </ul>

              <!-- <mat-cell *matCellDef="let element">
                <mat-icon mat-button aria-hidden="false" aria-label="Example home icon" (click)="filepath_edit()">backup
                </mat-icon>
              </mat-cell> -->
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
        <mat-card-content *ngIf="backup.length==0" class="no_data_found">
          <h2>No data found</h2>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
</section>